
body {
    background-color: #103756;
}

.container {
    background-color: #103756;
    max-width: 400px;
    padding: 0;
}

form input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    background-color: hsl(207, 69%, 15%);
    border: none;
    color:rgb(225, 221, 221);
}

main {
    background-color:#103756;
}


.todo-list li {
    background-color: #185281;
    color: rgb(225, 221, 221);
}

.delete {
    cursor: pointer;
}

